<!DOCTYPE html>
<html>
	<head>
		<title>漫生活 SSO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="aghchina officail website">
        <meta name="author" content="jerry@aghchina.com.cn">
        <link rel="stylesheet" href="bootstrap.min.css" type="text/css">
	</head>
	<body>
		<%- body %>
    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
	</body>
</html>
